body{
  border:solid #BC8D85 64px;
  background-color: #F0E9E9;
}
.gato{
  position: absolute;
  width: 263px;
  height: 255px;
  left: 146px;
  top: 96px;

  background: url(gato);
  border-radius: 176.5px;
}
.menu{
  position: absolute;
  height: 61px;
  left: 700px;
  top: 130px;

  font-family: 'Italianno';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 120px;

  color: #BC8D85;
}
.menu1{
  position: absolute;
  height: 60px;
  left: 750px;
  top: 283px;
  
  font-family: 'Italianno';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  /* identical to box height */
  
  
  color: #C45A48;  
}
.menu2{
  position: absolute;
  height: 60px;
  left: 1200px;
  top: 278px;
  
  font-family: 'Italianno';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  /* identical to box height */
  
  
  color: #C45A48;  
}
.paragrafo1{
  position: absolute;
  height: 80px;
  left: 169px;
  top: 406px;
  
  font-family: 'Italianno';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  /* identical to box height */
  
  
  color: #C45A48;
  
}
.texto-principal{
position: absolute;
height: 455px;
left: 169px;
top: 520px;

font-family: 'Italianno';
font-style: normal;
font-weight: 400;
font-size: 52px;
line-height: 65px;

color: #B17267;
}
.segundoparagrafo{
position: absolute;
height: 224px;
left: 168px;
top: 755px;

font-family: 'Italianno';
font-style: normal;
font-weight: 400;
font-size: 52px;
line-height: 65px;

color: #B17267;
}
.paragrafo2{
  position: absolute;
  height: 80px;
  left: 169px;
  top: 1024px;
  
  font-family: 'Italianno';
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
  /* identical to box height */
  
  
  color: #C45A48;  
}
.percy{
position: absolute;
width: 263px;
height: 264px;
left: 121px;
top: 1300px;

background: url(pecy);
border-radius: 188px;
}
.aelin{
  position: absolute;
  width: 264px;
  height: 264px;
  left: 830px;
  top: 1300px;
  
  background: url(aelin.jpg);
  border-radius: 250px;
}
.astrid{
  position: absolute;
  width: 266px;
  height: 264px;
  left: 1500px;
  top: 1300px;
  
  background: url(astrid.png);
  border-radius: 175px;
}
.bokuto{
  position: absolute;
  width: 265px;
  height: 264px;
  left: 460px;
  top: 1650px;
  
  background: url(bokuto);
  border-radius: 367.5px;
}
.toca{
  position: absolute;
  width: 252px;
  height: 264px;
  left: 1180px;
  top: 1650px;
  
  background: url(toquinha.jpg);
  border-radius: 198px;
}
.gatoloko{
  position: absolute;
  width: 252px;
  height: 264px;
  left: 121px;
  top: 2000px;
  
  background: url(toquinha.jpg);
  border-radius: 198px;
}
.oculos{
  position: absolute;
  width: 252px;
  height: 264px;
  left: 830px;
  top: 2000px;
  
  background: url(grace);
  border-radius: 275px;
}
.peruca{
  position: absolute;
  width: 252px;
  height: 264px;
  left: 1500px;
  top: 2000px;
  
  background: url(peruca.jpg);
  border-radius: 130px;
}